{% block content %}
    <h1 style="text-align: center; padding-top: 50px; font-family: sans-serif;">SUMADOR</h1>
    <div style="text-align: center; padding-top: 10px; border: 5px solid black; align-items: center; border-radius: 20px; float: center;">
        <form style="justify-content: relative;" action="" method="post">
            <label for="num1" style="font-family: sans-serif; font-size: 25px; ">Number 1: </label>
            <input type="number" id="num1" name="num1"  style="border-radius: 15px; max-width: 50px; font-size: 25px;"/><br><br>
            <label for="num2" style="font-family: sans-serif; font-size: 25px;">Number 2: </label>
            <input type="number" id="num2" name="num2" style="border-radius: 15px; max-width: 50px; font-size: 25px;"/><br><br>
            <input style="background-color: rgba(40, 126, 255, 0.8); font-family: sans-serif; min-width: 70px; border-radius: 15px; float: center; font-size: 25px;" type="submit" id="sumar" name="sumar" value="SUMAR" />
        </form>
    </div>
{% endblock %}